/* Container styles */
.container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Label styles */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input styles */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Button styles */
.registerbtn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Button hover effect */
.registerbtn:hover {
    background-color: #45a049;
}